{% extends "layout.html" %}
{% block body %}
    <main>
        <!--? gallery Products Start -->
        <section class="gallery-area fix ">
            <!-- Gallery Top Start -->
            <div class="gallery-top section-bg pt-90 pb-40" data-background="assets/img/gallery/section_bg01.png">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="cl-xl-7 col-lg-8 col-md-10">
                            <!-- Section Tittle -->
                            <div class="section-tittle text-center mb-70">
                                <span>Our Offerd Menu</span>
                                <h2>Some Trendy And  Popular Courses Offerd</h2>
                            </div> 
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="properties__button">
                            <!--Nav Button  -->
                            <nav>                                                                         
                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Special</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Lunch</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Brakefirst </a>
                                    <a class="nav-item nav-link" id="nav-dinner-tab" data-toggle="tab" href="#nav-dinner" role="tab" aria-controls="nav-dinner" aria-selected="false"> Dinner </a>
                                </div>
                            </nav>
                            <!--End Nav Button  -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Gallery Top End -->
            <!-- Gallery Bottom Start -->
            <div class="container-fluid p-0">
                <!-- Nav Card -->
                <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                        <div class="row no-gutters">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card two -->
                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                        <div class="row no-gutters">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card three -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                        <div class="row no-gutters">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Card Four -->
                    <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner">
                        <div class="row no-gutters">
                            <div class="col-lg-5 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery3.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="gallery-box">
                                    <div class="single-gallery">
                                        <div class="gallery-img big-img" style="background-image: url(assets/img/gallery/gallery4.png);"></div>
                                        <div class="g-caption">
                                            <span>$25</span>
                                            <h4>Delicious Food</h4>
                                            <p>Ut enim ad minim veniam quis nostr.</p>
                                            <a href="#" class="btn order-btn">Order Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery1.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-6 col-sm-6">
                                        <div class="gallery-box">
                                            <div class="single-gallery">
                                                <div class="gallery-img smoll-img" style="background-image: url(assets/img/gallery/gallery2.png);"></div>
                                                <div class="g-caption">
                                                    <span>$25</span>
                                                    <h4>Delicious Food</h4>
                                                    <p>Ut enim ad minim veniam quis nostr.</p>
                                                    <a href="#" class="btn order-btn">Order Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Nav Card -->
            </div>
            <!-- Gallery Bottom End -->
        </section>
        <!-- gallery Products End -->
        <!--? Our Services Start -->
        <div class="our-services section-padding30">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Servicees We Offer</span>
                            <h2>Our Best Services</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-restaurant"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Best Chef</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services active text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tools-and-utensils-1"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Quality Food</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-lg-4 col-md-6 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-restaurant"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">Perfect Cook</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Our Services End -->
    </main>

{% endblock %}